.nav-list_container {
  background-color: #F7710A;
  text-align: left;
  height: 5vh;
  padding-left: 3rem;
}

.button {
  background-color: #F7710A;
  border: none;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.status-bar {
  display: inline;
  margin-left: 50%;
}

.status-bar--hide {
  display: none;
}

.status-bar__text {
  display: inline;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
