.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 20px;
  border-radius: 10%;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.edit-form {
  display: grid;
  grid-row-gap: 1rem;
  font-size: 1.2rem;
}

.picture-upload {
  margin: 2rem;
  padding: 5px;
  border: solid blue 2px;
}

.label {
  padding: 5px;
}

.detail {
  font-size: 1.2rem;
}

.button {
  
}
