.App {
  text-align: center;
  font-family: 'Gruppo', cursive;
}

.App-header {
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./images/foxmural.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .8;
}

.App-header_text {
  font-size: 5rem;
  font-weight: bolder;
  color: white
}
