.App {
  text-align: center;
  font-family: 'Gruppo', cursive;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-image:  url(./Images/Foxmural.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
